@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300&display=swap');

@font-face {
  font-family: "Cygnito Mono";
  src: url("../src/assets/fonts/CygnitoMono.otf")
}


@font-face {
  font-family: "Neue Pixel Sans Font";
  src: url("../src/assets/fonts/NeuePixelSans.ttf")
}

@font-face {
  font-family: "PP Fraktion Mono";
  src: url("../src/assets/fonts/PPFraktionMono-Regular.otf")
}

.font-cyg{
  font-family: "Cygnito Mono";
}

.font-neue{
  font-family: "Neue Pixel Sans Font";
}

.font-frak{
  font-family: "PP Fraktion Mono";
}



body {
  font-family: 'Cygnito Mono';
  color: white;
  background-color: black;
}

main {
  min-height: 80vh;
}

.boxe{
  background-color: #e8eded;
  border-radius: 32px;
  border-style: solid;
  border-width: 1px;
  padding: 30px;
  margin-bottom: 10px;
}

/* .card-boxe{
  width: 1500px;
  justify-content: center;
  display: flex;
} 

  MIGLIORARE LA GRANDEZZA PERCHE NON è UGUALE COME NEL PROGETTO

*/

#test * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#test body {
  height: 100vh;
  overflow: hidden;
}

#test .container {
  width: 100%;
  height: 100%;
  display: flex;
  overflow-x: hidden;
}

#test .page {
  min-width: 100%;
  height: 100%;
  font-size: 46px;
  font-family: sans-serif;
  font-weight: bolder;
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgba(0,0,0,0.18);
}

#test .page_1 {
  background-color: rgb(255,93,93);
}

#test .page_2 {
  background-color: rgb(93,190,255);
}

#test .page_3 {
  background-color: rgb(144,255,93);
}

#test .scroll {
  position: absolute;
  height: 5px;
  width: 0;
  background-color: #fff;
  top: 0;
  left: 0;
}